body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #9bdaf1;
    text-decoration: none;
    font-size: 18px;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
}

img {
    max-width: 100%;
    max-height: 80vh;
    height: auto;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

p {
    margin-top: 20px;
}

/* Media query for small screens */
@media (max-width: 300px) {
    nav ul {
        flex-direction: column; /* Stack items vertically */
    }

    nav ul li {
        margin: 10px 0; /* Add some margin between items */
    }
}