#Bjarne1 {
    position: relative;
    max-height: 400px;
    max-width: 400px;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aboutMeTextBox {
    position: relative;
    align-self: start;
    width: 30vw;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.aboutMeRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 40px auto;
    font-size: xx-large;
}

.aboutMeText h1 {
    display: flex;
    gap: 10px;
}



#aboutMeButton {
    background-color: #CCF381;
    width: 30vw;
    height: 100px;
    border-radius: 20px;
    border: none;
    margin: 20px 0;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #1b1b1b;
    font-weight: bold;
    font-size: 150%;
}


/* Hover-effekt inspirert av .help */
#aboutMeButton:hover {
    transform: scale(1.05) translateY(-5px);
}


#myProjects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 10px;
    font-size: xx-large;
}

@media (max-width: 800px) {
    #myProjects {
        flex-direction: column;
    }

    .aboutMeRow {
        font-size: medium;
    }

    .aboutMeTextBox {
        width: 100%;
        max-width: 400px;
    }

    .aboutMeText {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 20px;
    }

    #aboutMeButton {
        max-width: 400px;
        width: 100%;
    }
}


#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.projectsList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 50px;
}

.project {
    height: auto;
    width: 400px;
    background: linear-gradient(180.09deg, #0A1D35 52.6%, #091A2F 99.92%);
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none !important;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.3));
}

@media (min-width: 800px) and (max-width: 1485px) {
    .project {
        width: 300px;
    }

}


.projectPhotos {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
    object-position: center;
    display: block;
    align-self: center;
    margin: auto;
}