#root {
    width: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

html,
body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: #072147;
    margin: 0;
    max-width: 100vw;
}

.greenBar {
    position: relative;
    height: 4px;
    background: #CCF381;
    border-radius: 4px;
    width: 80%;
}

.greenBarTop {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: auto;
}

.greenBarBottom {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 40px;
}

.symbols {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    line-height: 1.5;
}

.whiteText {
    color: #ffffff;
}

.yellowText {
    color: #CCF381;
}

.fontBebasNeue {
    font-family: 'Bebas Neue';
}

.fontRajdhani {
    font-family: 'Rajdhani';
}

.fontInter {
    font-family: 'Inter';
}

.fontStyleSemiBold {
    font-weight: 600;
}

.fontStyleNormal {
    font-weight: 400;
}

.fontStyleLight {
    font-weight: 100;
}

.fontSizeXSmall {
    font-size: 20px;
}

.fontSizeSmall {
    font-size: 32px;
}

.fontSizeMedium {
    font-size: 40px;
}

.fontSizeLarge {
    font-size: 64px;
}

.fontSizeXLarge {
    font-size: 96px;
}