#root {
    height: 100vh;
    width: auto;
    overflow-x: hidden;
}

body {
    background-color: #072147;
    margin: 0;
    max-width: 100vw;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

#Bjarne1 {
    max-width: 500px;
    width: 100%;
    height: auto;
    max-height: 450px;
    flex: 1 1 300px;
    object-fit: cover;
    border-radius: 12px;
}

.whiteText {
    color: #ffffff;
}

.yellowText {
    color: #CCF381;
}

.projectsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.project {
    height: 550px;
    width: 400px;
    background: linear-gradient(180.09deg, #0A1D35 52.6%, #091A2F 99.92%);
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.project>div {
    margin-top: 20px;
}

#aboutMeButton {
    background-color: #CCF381;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    border: none;
    font-size: xx-large;
    transition: filter 0.2s, box-shadow 0.2s;
    cursor: pointer;
}


.symbols {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project img {
    width: 100%;
    height: 40%;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
    object-position: center;
    display: block;
}

#myProjects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 10px;
}

.aboutMeRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    margin-bottom: 40px;
}

.aboutMeText {
    min-width: 250px;
    max-width: 500px;
    flex: 1 1 300px;
}

.fontBebasNeue {
    font-family: 'Bebas Neue';
}

.fontRajdhani {
    font-family: 'Rajdhani';
}

.fontInter {
    font-family: 'Inter';
}

.fontStyleSemiBold {
    font-weight: 600;
}

.fontStyleNormal {
    font-weight: 400;
}

.fontSizeXSmall {
    font-size: 20px;
}

.fontSizeSmall {
    font-size: 32px;
}

.fontSizeMedium {
    font-size: 40px;
}

.fontSizeLarge {
    font-size: 64px;
}

.fontSizeXLarge {
    font-size: 96px;
}